@tailwind base;
@tailwind components;
@tailwind utilities;


/* Spinner */

.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .FormGroup {
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    background-color: #7795f8;
    will-change: opacity, transform;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
    border-radius: 4px;
  }
  
  .FormRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    border-top: 1px solid #819efc;
  }
  
  .StripeElement--webkit-autofill {
    background: transparent !important;
  }
  
  .StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
  }
  
  .dropdown {
    position: absolute;
    right: 0;
    left: auto;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem 0;
    list-style: none;
    background-color: #fff;
    border-radius: 0.5rem;
    display: none;
  }
  
  .dropdown.show {
    display: block;
  }

  .editorcontainer .ql-editor {
    width: 8.5in; /* width of s sheet of paper */
    min-height: 1.5in; 
    /* padding: 1in; */
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
  }

  .editorcontainer .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
  }

  .editorcontainer .ql-toolbar.ql-snow {
    /* width: 8.5in; */
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F1EDE0; /* f3f3f3 for grey bg */
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }

  /* printing configs. currently no working. to fix later. */
  @page {
    margin: 1in;
  }

  @media print {
    body {
      background: none;
    }

    .editorcontainer .ql-editor {
      width: 6.5in; /* width of s sheet of paper */
      height: 9in; /* height of s sheet of paper */
      padding: 0;
      margin: 0;
      box-shadow: none;
      align-self: flex-start;
    }

    .editorcontainer .ql-toolbar.ql-snow {
      display: none;
    }
  }